body {
  margin: 0;
  background-color: rgba(247, 236, 195, 1.000);
}

#images {
  display: flex;
  flex-direction: row;
}

#images > div{
  margin-right: 2em;
}

section {
  margin: 1em;
}

#detail {
  position: fixed;
}

.hidden {
  visibility: hidden;
}