.hidden {
  display: none !important;
}

body {
  background-color: black;
  font-family: sans-serif;
  font-size: 1em;
}

p,a,h1,h2,h3,h4 {
  color: white;
}

#posters ul > li {
  margin-right: 2em;
  filter: brightness(0.4);
}

#posters ul:hover > li {
  filter: brightness(0.4);
}

#posters ul > li:hover {
  color: white;
  filter: brightness(1);
  font-family: sans-serif;
}

#myUL {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 4em;
  list-style: none;
}

#myUL > li {
  margin-right: 5em;
}

#myUL li:nth-child(odd) a > img {
  transform: rotate(20deg);
}

#myUL li:nth-child(even) a > img {
  transform: rotate(-20deg);
}

a > p {
  background-color: gold;
  color: black;
  padding: 1em;
  width: 8em;
}


#images {
  display: flex;
  flex-direction: column;
}

input {
  padding: .5em;
  width: 100%;
  justify-content: center;
  background: none;
  border: none;
  border-bottom: .2em solid gold;
  font-size: 4em;
  color: white;
  font-weight: bolder;
  transition: 1s all ease-in;
}

input::placeholder {
  color: gold;
  font-weight: bolder;
}
